<!DOCTYPE html>
<html dir="ltr" lang="en" xml:lang="en" class="yui3-js-enabled">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="/stylesheets/style.css">

        <title>UNSA Elections Portal: Log in to the site</title>
        <link rel="shortcut icon" href="https://eballot.uonbi.ac.ke/theme/image.php/fordson/theme/1679303407/favicon">
        
        <meta name="keywords" content="moodle, UNSA Elections Portal: Log in to the site">
        <link rel="stylesheet" type="text/css" href="./test_files/combo">
        <script charset="utf-8" id="yui_3_17_2_1_1679386689184_8" src="./test_files/combo(1)" async=""></script>
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css"> 
        </style>
    </head>
    <body id="page-login-index" class="format-site path-login chrome dir-ltr lang-en yui-skin-sam yui3-skin-sam eballot-uonbi-ac-ke pagelayout-login course-1 context-1 notloggedin jsenabled">
        <div id="page-wrapper">
            <div style="display: block;">
                <a class="sr-only sr-only-focusable" href="https://eballot.uonbi.ac.ke/login/index.php#maincontent">
                    Skip to main content
                </a>
            </div>
            <div id="page" class="container-fluid mt-0 customloginimage">
                <div id="page-content" class="row">
                    <section id="region-main" class="col-12">
                        <div class="loginslideshow"></div>
                        <span class="notifications" id="user-notifications"></span>
                        <div role="main">
                            <span id="maincontent"></span>
                            <div class="m-y-3 hidden-sm-down"></div>
                            <div class="row signin">
                                <div class="col-xl-3 push-xl-1 col-md-4">
                                    <div class="fpsignup">
                                        <div class="card-title text-xs-center">
                                            <h1>UNSA Elections Portal</h1>
                                            <hr>
                                        </div>
                                        <div class="signinform">
                                            <h3>Sign In</h3>
                                            <form class="m-t-1" action="/" method="post" role="form">
                                                <input type="hidden" name="logintoken" value="GTDoMnvWx0IZcJfxEaUyGiwdfJloHJ2z">
                                                <label for="username">Username </label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"></div>
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        id="username" 
                                                        name="username" 
                                                        placeholder="Username" 
                                                        required=""
                                                    >
                                                </div>
                                                <label for="password">Password</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon"></div>
                                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="">
                                                </div>
                                                <div class="sign-up-btn">
                                                    <button type="submit" class="btn btn-primary">Log in</button>
                                                </div>
                                            </form>
                                            <p>
                                                <a href="https://eballot.uonbi.ac.ke/login/forgot_password.php">Forgotten your username or password?</a>
                                            </p>         
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 push-xl-1 col-md-8">
                                    <div class="logintop">
                                        <div class="logintopimage">
                                            <img src="https://eballot.uonbi.ac.ke/pluginfile.php/1/theme_fordson/logintopimage/1679303407/UNSA%20900x550px.jpg" class="img-fluid" alt="Responsive image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="customloginspacer"></div>
                    </section>
                </div>
            </div>
            <div id="fordsonlogin" class="fordsonlogin">
                <div class="container col-12"></div>
            </div>
            <footer id="page-footer" class="py-3 text-dark">
                <div class="container">
                    <div id="course-footer"></div>
                    <div class="row">
                        <div class="col-md-8">
                            
        
                            <div class="logininfo">You are not logged in.</div>
        
                            <div class="homelink"><a href="https://eballot.uonbi.ac.ke/">Home</a></div>
        
        
                        </div>
                        <div class="col-md-4">
                            <div class="brandbox">
                                <h3>Independent Electoral Commission</h3>
                                <ul class="footercontact"></ul>
                            </div>
                        </div>
                    </div>
                    <nav class="nav navbar-nav d-md-none">
                        <ul class="list-unstyled pt-3"></ul>
                    </nav>   
        <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                <div class="col-md-12" align="center">
                    <button style="font-size:18px">
                        <i class="fa fa-envelope"></i> 
                        unsa2023elections@uonbi.ac.ke
                    </button> 
                    <br><br>
                    <p style="font-size:16px">
                        © UNSA
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        2023 | University of Nairobi | All Rights Reserved
                    </p>
                </div>
            </div>
        </footer>

            
                </div>
            
            </footer>
        </div><div id="yui3-css-stamp" style="position: absolute !important; visibility: hidden !important" class=""></div>
    </body>
</html>